{% load table_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <title>person</title>

        <link rel="stylesheet" href="//cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </head>

    <body>
       

            {% render_table equips %}
        </div>
    </body>
</html>
